In [1]:
using CSV;
using DataFrames;
using Statistics;

In [2]:
println("meu diretorio atual:", pwd())

meu diretorio atual:/home/romerito/Dropbox/Tecnologia/Datascience/Projetos/Julia

In [3]:
movies_df = DataFrame(CSV.File("/home/romerito/Documents/dataset/movies.csv"))
first(movies_df, 5)

5×14 DataFrame. Omitted printing of 12 columns
│ Row │ filmtv_id │ titolo_originale                            │
│     │ Int64     │ String                                      │
├─────┼───────────┼─────────────────────────────────────────────┤
│ 1   │ 2         │ Bugs Bunny's Third Movie: 1001 Rabbit Tales │
│ 2   │ 3         │ 18 anni tra una settimana                   │
│ 3   │ 17        │ Ride a Wild Pony                            │
│ 4   │ 18        │ Diner                                       │
│ 5   │ 20        │ A che servono questi quattrini?             │

In [4]:
names(movies_df)

14-element Array{Symbol,1}:
 :filmtv_id
 :titolo_originale
 :titolo_italiano
 :anno
 :genere
 :durata
 :paese
 :registi
 :attori
 :voto_medio
 :voti
 :descrizione
 :note
 :miglior_commento

In [5]:
eltype.(eachcol(movies_df))

14-element Array{Type,1}:
 Int64
 String
 String
 Union{Missing, Int64}
 Union{Missing, String}
 Int64
 Union{Missing, String}
 Union{Missing, String}
 Union{Missing, String}
 Float64
 Int64
 Union{Missing, String}
 Union{Missing, String}
 Union{Missing, String}

In [6]:
size(movies_df)

(53497, 14)

In [7]:
rename!(movies_df, :filmtv_id => :id,
                   :titolo_originale => :titulo,
                   :titolo_italiano => :null,
                   :anno => :ano,
                   :genere => :genero,
                   :durata => :duracao,
                   :paese => :país,
                   :registi => :diretores,
                   :attori => :atores,
                   :voto_medio => :voto_medio,
                   :voti => :votos,
                   :descrizione => :descricao,
                   :note => :notas,
                   :miglior_commento => :melhor_comentario)

names(movies_df)

14-element Array{Symbol,1}:
 :id
 :titulo
 :null
 :ano
 :genero
 :duracao
 :país
 :diretores
 :atores
 :voto_medio
 :votos
 :descricao
 :notas
 :melhor_comentario

In [37]:
select!(movies_df, Not([:id,
                        :null,
                        :melhor_comentario, 
                        :diretores,
                        :atores,
                        :voto_medio,
                        :descricao,
                        :país,
                        :notas]))

names(movies_df)

5-element Array{Symbol,1}:
 :titulo
 :ano
 :genero
 :duracao
 :votos

In [38]:
eltype.(eachcol(movies_df))

5-element Array{Type,1}:
 String
 Union{Missing, Int64}
 Union{Missing, String}
 Int64
 Int64

In [39]:
first(movies_df,2)

2×5 DataFrame. Omitted printing of 2 columns
│ Row │ titulo                                      │ ano    │ genero     │
│     │ String                                      │ Int64⍰ │ String⍰    │
├─────┼─────────────────────────────────────────────┼────────┼────────────┤
│ 1   │ Bugs Bunny's Third Movie: 1001 Rabbit Tales │ 1982   │ Animazione │
│ 2   │ 18 anni tra una settimana                   │ 1991   │ Drammatico │

In [40]:
mean(movies_df.votos),
mean(movies_df.duracao)

(24.55935846869918, 98.47202646877395)

In [41]:
sort!(movies_df, :ano);

In [42]:
movies_df = dropmissing(movies_df)

53282×5 DataFrame. Omitted printing of 3 columns
│ Row   │ titulo                                              │ ano   │
│       │ String                                              │ Int64 │
├───────┼─────────────────────────────────────────────────────┼───────┤
│ 1     │ Le voleur invisible                                 │ 1909  │
│ 2     │ L'inferno                                           │ 1911  │
│ 3     │ Robinet aviatore                                    │ 1911  │
│ 4     │ Les amours de la reine Élisabeth                    │ 1912  │
│ 5     │ Quo vadis?                                          │ 1912  │
│ 6     │ From the Manger to the Cross; or, Jesus of Nazareth │ 1912  │
│ 7     │ Fantômas - À l'ombre de la guillotine               │ 1913  │
│ 8     │ Juve contre Fantômas                                │ 1913  │
│ 9     │ La mort qui tue                                     │ 1913  │
│ 10    │ Ma l'amore mio non muore                            │ 1913  │
⋮
│ 53272 │ Irréversible - Inversion intégrale                  │ 2019  │
│ 53273 │ Bar Giuseppe                                        │ 2019  │
│ 53274 │ Our Godfather                                       │ 2019  │
│ 53275 │ The Haunting of La Llorona                          │ 2019  │
│ 53276 │ Hallowed Ground                                     │ 2019  │
│ 53277 │ Travis Scott: Look Mom I Can Fly                    │ 2019  │
│ 53278 │ I Am Patrick Swayze                                 │ 2019  │
│ 53279 │ Ne pozabi dihati                                    │ 2019  │
│ 53280 │ Famosa                                              │ 2019  │
│ 53281 │ Clown                                               │ 2019  │
│ 53282 │ Big Top Evil                                        │ 2019  │

In [43]:
mean(movies_df.votos),
mean(movies_df.duracao)

(24.63830186554559, 98.47120978942232)

In [44]:
names(movies_df)

5-element Array{Symbol,1}:
 :titulo
 :ano
 :genero
 :duracao
 :votos

In [45]:
first(movies_df,5)

5×5 DataFrame. Omitted printing of 1 columns
│ Row │ titulo                           │ ano   │ genero         │ duracao │
│     │ String                           │ Int64 │ String         │ Int64   │
├─────┼──────────────────────────────────┼───────┼────────────────┼─────────┤
│ 1   │ Le voleur invisible              │ 1909  │ Cortometraggio │ 432     │
│ 2   │ L'inferno                        │ 1911  │ Drammatico     │ 68      │
│ 3   │ Robinet aviatore                 │ 1911  │ Cortometraggio │ 536     │
│ 4   │ Les amours de la reine Élisabeth │ 1912  │ Drammatico     │ 40      │
│ 5   │ Quo vadis?                       │ 1912  │ Drammatico     │ 120     │

In [46]:
movies_df[occursin.("Biblico", movies_df.genero), :]

52×5 DataFrame. Omitted printing of 2 columns
│ Row │ titulo                                              │ ano   │ genero  │
│     │ String                                              │ Int64 │ String  │
├─────┼─────────────────────────────────────────────────────┼───────┼─────────┤
│ 1   │ From the Manger to the Cross; or, Jesus of Nazareth │ 1912  │ Biblico │
│ 2   │ Salome                                              │ 1923  │ Biblico │
│ 3   │ The King of Kings                                   │ 1927  │ Biblico │
│ 4   │ The Robe                                            │ 1953  │ Biblico │
│ 5   │ The Ten Commandments                                │ 1956  │ Biblico │
│ 6   │ Erode il Grande                                     │ 1958  │ Biblico │
│ 7   │ Giuditta e Oloferne                                 │ 1958  │ Biblico │
│ 8   │ Ben Hur                                             │ 1959  │ Biblico │
│ 9   │ The Big Fisherman                                   │ 1959  │ Biblico │
│ 10  │ La spada e la croce                                 │ 1959  │ Biblico │
⋮
│ 42  │ Maria di Nazaret                                    │ 2012  │ Biblico │
│ 43  │ The Bible: In the Beginnings & Exodus               │ 2013  │ Biblico │
│ 44  │ The Bible: Homeland & Kingdom                       │ 2013  │ Biblico │
│ 45  │ The Bible: Survival & Hope                          │ 2013  │ Biblico │
│ 46  │ The Bible: Mission & Betrayal                       │ 2013  │ Biblico │
│ 47  │ The Bible: Passion & Courage                        │ 2013  │ Biblico │
│ 48  │ Son of God                                          │ 2014  │ Biblico │
│ 49  │ The Gospel of John                                  │ 2014  │ Biblico │
│ 50  │ The Gospel of Mark                                  │ 2015  │ Biblico │
│ 51  │ The Gospel of Luke                                  │ 2015  │ Biblico │
│ 52  │ Samson                                              │ 2018  │ Biblico │

In [47]:
groupby(movies_df, [:genero])

GroupedDataFrame with 28 groups based on key: genero
First Group (19 rows): genero = "Cortometraggio". Omitted printing of 5 columns
│ Row │ │     │ ├─────┼
│ 1   │ │ 2   │ │ 3   │ │ 4   │ │ 5   │ │ 6   │ │ 7   │ │ 8   │ │ 9   │ │ 10  │ │ 11  │ │ 12  │ │ 13  │ │ 14  │ │ 15  │ │ 16  │ │ 17  │ │ 18  │ │ 19  │
⋮
Last Group (12 rows): genero = "Sportivo"
│ Row │ titulo                   │ ano   │ genero   │ duracao │ votos │
│     │ String                   │ Int64 │ String   │ Int64   │ Int64 │
├─────┼──────────────────────────┼───────┼──────────┼─────────┼───────┤
│ 1   │ The Club                 │ 1979  │ Sportivo │ 96      │ 1     │
│ 2   │ Escape to Victory        │ 1981  │ Sportivo │ 113     │ 256   │
│ 3   │ You've Got a Friend      │ 2007  │ Sportivo │ 120     │ 1     │
│ 4   │ Fighting                 │ 2009  │ Sportivo │ 105     │ 44    │
│ 5   │ Slow Moe                 │ 2010  │ Sportivo │ 89      │ 3     │
│ 6   │ The 5th Quarter          │ 2010  │ Sportivo │ 90      │ 4     │
│ 7   │ 30 for 30: Once Brothers │ 2010  │ Sportivo │ 79      │ 3     │
│ 8   │ Pretty Tough             │ 2011  │ Sportivo │ 104     │ 2     │
│ 9   │ Crooked Arrows           │ 2012  │ Sportivo │ 100     │ 3     │
│ 10  │ Ricordando Mosca         │ 2012  │ Sportivo │ 54      │ 1     │
│ 11  │ Snake and Mongoose       │ 2013  │ Sportivo │ 101     │ 1     │
│ 12  │ Nika                     │ 2016  │ Sportivo │ 90      │ 2     │

In [48]:
by(movies_df, [:genero], movies_df -> mean(movies_df[:, :votos]))

28×2 DataFrame
│ Row │ genero         │ x1      │
│     │ String         │ Float64 │
├─────┼────────────────┼─────────┤
│ 1   │ Cortometraggio │ 3.36842 │
│ 2   │ Drammatico     │ 21.9793 │
│ 3   │ Biblico        │ 24.3462 │
│ 4   │ Poliziesco     │ 20.9291 │
│ 5   │ Avventura      │ 16.6926 │
│ 6   │ Fantasy        │ 59.2495 │
│ 7   │ Commedia       │ 26.3204 │
│ 8   │ Storico        │ 25.2561 │
│ 9   │ Mélo           │ 61.2105 │
│ 10  │ Horror         │ 31.1787 │
⋮
│ 18  │ Gangster       │ 160.656 │
│ 19  │ Sentimentale   │ 11.1892 │
│ 20  │ Mitologico     │ 25.5244 │
│ 21  │ Animazione     │ 33.1    │
│ 22  │ Musicale       │ 14.7698 │
│ 23  │ Spionaggio     │ 32.2226 │
│ 24  │ Sperimentale   │ 9.40553 │
│ 25  │ Noir           │ 71.2445 │
│ 26  │ Catastrofico   │ 41.6437 │
│ 27  │ Supereroi      │ 215.675 │
│ 28  │ Sportivo       │ 26.75   │

In [49]:
by(movies_df, :ano, nrow)

110×2 DataFrame
│ Row │ ano   │ x1    │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1909  │ 1     │
│ 2   │ 1911  │ 2     │
│ 3   │ 1912  │ 3     │
│ 4   │ 1913  │ 8     │
│ 5   │ 1914  │ 7     │
│ 6   │ 1915  │ 14    │
│ 7   │ 1916  │ 18    │
│ 8   │ 1917  │ 11    │
│ 9   │ 1918  │ 13    │
│ 10  │ 1919  │ 17    │
⋮
│ 100 │ 2009  │ 1244  │
│ 101 │ 2010  │ 1281  │
│ 102 │ 2011  │ 1452  │
│ 103 │ 2012  │ 1475  │
│ 104 │ 2013  │ 1612  │
│ 105 │ 2014  │ 1599  │
│ 106 │ 2015  │ 1618  │
│ 107 │ 2016  │ 1648  │
│ 108 │ 2017  │ 1564  │
│ 109 │ 2018  │ 1341  │
│ 110 │ 2019  │ 646   │

In [50]:
movies_df.duracao

53282-element Array{Int64,1}:
 432
  68
 536
  40
 120
  71
  54
  45
  90
 120
  96
 121
  48
   ⋮
 122
  86
  95
  92
  71
 117
  84
  92
  97
  90
  87
  81

In [51]:
movies_df[!, :duracao_horas] = movies_df.duracao / 60

53282-element Array{Float64,1}:
 7.2
 1.1333333333333333
 8.933333333333334
 0.6666666666666666
 2.0
 1.1833333333333333
 0.9
 0.75
 1.5
 2.0
 1.6
 2.0166666666666666
 0.8
 ⋮
 2.033333333333333
 1.4333333333333333
 1.5833333333333333
 1.5333333333333334
 1.1833333333333333
 1.95
 1.4
 1.5333333333333334
 1.6166666666666667
 1.5
 1.45
 1.35

In [52]:
names(movies_df)

6-element Array{Symbol,1}:
 :titulo
 :ano
 :genero
 :duracao
 :votos
 :duracao_horas

In [53]:
mean(movies_df.duracao_horas)

1.6411868298237051

In [54]:
movies_df[:,[:titulo,:duracao,:duracao_horas]]

53282×3 DataFrame. Omitted printing of 1 columns
│ Row   │ titulo                                              │ duracao │
│       │ String                                              │ Int64   │
├───────┼─────────────────────────────────────────────────────┼─────────┤
│ 1     │ Le voleur invisible                                 │ 432     │
│ 2     │ L'inferno                                           │ 68      │
│ 3     │ Robinet aviatore                                    │ 536     │
│ 4     │ Les amours de la reine Élisabeth                    │ 40      │
│ 5     │ Quo vadis?                                          │ 120     │
│ 6     │ From the Manger to the Cross; or, Jesus of Nazareth │ 71      │
│ 7     │ Fantômas - À l'ombre de la guillotine               │ 54      │
│ 8     │ Juve contre Fantômas                                │ 45      │
│ 9     │ La mort qui tue                                     │ 90      │
│ 10    │ Ma l'amore mio non muore                            │ 120     │
⋮
│ 53272 │ Irréversible - Inversion intégrale                  │ 86      │
│ 53273 │ Bar Giuseppe                                        │ 95      │
│ 53274 │ Our Godfather                                       │ 92      │
│ 53275 │ The Haunting of La Llorona                          │ 71      │
│ 53276 │ Hallowed Ground                                     │ 117     │
│ 53277 │ Travis Scott: Look Mom I Can Fly                    │ 84      │
│ 53278 │ I Am Patrick Swayze                                 │ 92      │
│ 53279 │ Ne pozabi dihati                                    │ 97      │
│ 53280 │ Famosa                                              │ 90      │
│ 53281 │ Clown                                               │ 87      │
│ 53282 │ Big Top Evil                                        │ 81      │

In [55]:
#delete
select!(movies_df, Not(:duracao_horas))

53282×5 DataFrame. Omitted printing of 3 columns
│ Row   │ titulo                                              │ ano   │
│       │ String                                              │ Int64 │
├───────┼─────────────────────────────────────────────────────┼───────┤
│ 1     │ Le voleur invisible                                 │ 1909  │
│ 2     │ L'inferno                                           │ 1911  │
│ 3     │ Robinet aviatore                                    │ 1911  │
│ 4     │ Les amours de la reine Élisabeth                    │ 1912  │
│ 5     │ Quo vadis?                                          │ 1912  │
│ 6     │ From the Manger to the Cross; or, Jesus of Nazareth │ 1912  │
│ 7     │ Fantômas - À l'ombre de la guillotine               │ 1913  │
│ 8     │ Juve contre Fantômas                                │ 1913  │
│ 9     │ La mort qui tue                                     │ 1913  │
│ 10    │ Ma l'amore mio non muore                            │ 1913  │
⋮
│ 53272 │ Irréversible - Inversion intégrale                  │ 2019  │
│ 53273 │ Bar Giuseppe                                        │ 2019  │
│ 53274 │ Our Godfather                                       │ 2019  │
│ 53275 │ The Haunting of La Llorona                          │ 2019  │
│ 53276 │ Hallowed Ground                                     │ 2019  │
│ 53277 │ Travis Scott: Look Mom I Can Fly                    │ 2019  │
│ 53278 │ I Am Patrick Swayze                                 │ 2019  │
│ 53279 │ Ne pozabi dihati                                    │ 2019  │
│ 53280 │ Famosa                                              │ 2019  │
│ 53281 │ Clown                                               │ 2019  │
│ 53282 │ Big Top Evil                                        │ 2019  │

In [60]:
#filtrar periodos
movies_df[.&(movies_df.ano .> 2000, movies_df.ano .< 2002), : ]

968×5 DataFrame. Omitted printing of 2 columns
│ Row │ titulo                                 │ ano   │ genero       │
│     │ String                                 │ Int64 │ String       │
├─────┼────────────────────────────────────────┼───────┼──────────────┤
│ 1   │ Non ho sonno                           │ 2001  │ Thriller     │
│ 2   │ Ogni lasciato è perso                  │ 2001  │ Commedia     │
│ 3   │ Domani                                 │ 2001  │ Drammatico   │
│ 4   │ Commedia sexy                          │ 2001  │ Commedia     │
│ 5   │ Domenica                               │ 2001  │ Drammatico   │
│ 6   │ L'ultimo bacio                         │ 2001  │ Commedia     │
│ 7   │ Sos laribiancos - I dimenticati        │ 2001  │ Drammatico   │
│ 8   │ Hannibal                               │ 2001  │ Thriller     │
│ 9   │ La ville est tranquille                │ 2001  │ Commedia     │
│ 10  │ Gostanza da Libbiano                   │ 2001  │ Drammatico   │
⋮
│ 958 │ Diary of a Sex Addict                  │ 2001  │ Drammatico   │
│ 959 │ XCU: Extreme Close Up                  │ 2001  │ Thriller     │
│ 960 │ Øyenstikker                            │ 2001  │ Drammatico   │
│ 961 │ Just Ask My Children                   │ 2001  │ Drammatico   │
│ 962 │ Ice Planet                             │ 2001  │ Fantasy      │
│ 963 │ On the Edge                            │ 2001  │ Drammatico   │
│ 964 │ Made                                   │ 2001  │ Commedia     │
│ 965 │ Rivers and Tides                       │ 2001  │ Documentario │
│ 966 │ Tabloid                                │ 2001  │ Thriller     │
│ 967 │ La chambre des officiers               │ 2001  │ Drammatico   │
│ 968 │ Abraxas - Riti segreti dall'oltretomba │ 2001  │ Horror       │

In [63]:
movies_df[.&(movies_df.ano .> 2000, movies_df.duracao .== 60), : ]

23365×5 DataFrame. Omitted printing of 1 columns
│ Row   │ titulo                             │ ano   │ genero       │ duracao │
│       │ String                             │ Int64 │ String       │ Int64   │
├───────┼────────────────────────────────────┼───────┼──────────────┼─────────┤
│ 1     │ Non ho sonno                       │ 2001  │ Thriller     │ 60      │
│ 2     │ Ogni lasciato è perso              │ 2001  │ Commedia     │ 60      │
│ 3     │ Domani                             │ 2001  │ Drammatico   │ 60      │
│ 4     │ Commedia sexy                      │ 2001  │ Commedia     │ 60      │
│ 5     │ Domenica                           │ 2001  │ Drammatico   │ 60      │
│ 6     │ L'ultimo bacio                     │ 2001  │ Commedia     │ 60      │
│ 7     │ Sos laribiancos - I dimenticati    │ 2001  │ Drammatico   │ 60      │
│ 8     │ Hannibal                           │ 2001  │ Thriller     │ 60      │
│ 9     │ La ville est tranquille            │ 2001  │ Commedia     │ 60      │
│ 10    │ Gostanza da Libbiano               │ 2001  │ Drammatico   │ 60      │
⋮
│ 23355 │ Irréversible - Inversion intégrale │ 2019  │ Drammatico   │ 60      │
│ 23356 │ Bar Giuseppe                       │ 2019  │ Commedia     │ 60      │
│ 23357 │ Our Godfather                      │ 2019  │ Documentario │ 60      │
│ 23358 │ The Haunting of La Llorona         │ 2019  │ Horror       │ 60      │
│ 23359 │ Hallowed Ground                    │ 2019  │ Horror       │ 60      │
│ 23360 │ Travis Scott: Look Mom I Can Fly   │ 2019  │ Documentario │ 60      │
│ 23361 │ I Am Patrick Swayze                │ 2019  │ Documentario │ 60      │
│ 23362 │ Ne pozabi dihati                   │ 2019  │ Drammatico   │ 60      │
│ 23363 │ Famosa                             │ 2019  │ Drammatico   │ 60      │
│ 23364 │ Clown                              │ 2019  │ Horror       │ 60      │
│ 23365 │ Big Top Evil                       │ 2019  │ Horror       │ 60      │

In [242]:
CSV.write("new01.csv", movies_df, append=false)

"new01.csv"

In [243]:
;ls -n

total 403668
-rw-r--r--. 1 1000 1000 115498646 Feb  6 02:03 movies.csv
-rw-r--r--. 1 1000 1000 235432960 Feb  6 02:02 movies.xls
-rw-rw-r--. 1 1000 1000  56805060 Nov 28 21:07 movies.xlsx
-rw-rw-r--. 1 1000 1000   2802296 Feb  6 04:18 new01.csv
-rw-rw-r--. 1 1000 1000   2802250 Feb  6 04:17 new.csv